#container {
  width: 80px;
  height: 300px;
  margin-top: 5px;
  background: #ccc;
}

.test {
  width: 400px;
  height: 200px;
  margin-top: 5px;
  background: #ccc;
}

.demo {
  width: 400px;
  height: 100px;
  margin-top: 5px;
  background: #ccc;
}

#container div {
  width: 300px;
}
#container span {
  background: blue;
}
#container p {
  height: 100px;
}

a:link {
  color: black;
}
a:visited {
  color: red;
}

.test1 {
  margin: 5px;
  padding: 3px;
  border: 1px solid;
  background: red;
  color: yellow;
}

.test2 {
  margin: 10px;
  padding: 20px;
  border: 1px solid;
  background: yellow;
  color: red;
}

.test3, .test4 {
  margin: 5px;
  padding: 3px;
  border: 1px solid;
  background: yellow;
  color: red;
}

.test4 {
  width: 300px;
  height: 500px;
}

.m1 {
  margin: 1px;
}

.m2 {
  margin: 2px;
}

.m3 {
  margin: 3px;
}

.m4 {
  margin: 4px;
}

.m5 {
  margin: 5px;
}

.m6 {
  margin: 6px;
}

.m7 {
  margin: 7px;
}

.m8 {
  margin: 8px;
}

.m9 {
  margin: 9px;
}
